body{
    background-color: black;
    font-family: cursive;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 0.5rem;
    z-index: 1;
    transition: background-color 2s ease;
}

header.scrolled {
  background-image: linear-gradient(to right, red , yellow);
}

  nav {
    float:right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 

  }
  main {
    padding-top: 100px; 
    font-family: 'Caribbean', sans-serif;
    height: 1300px;
    width: 100%;
      
  }
  button{
    background: linear-gradient(to right, red, orange 40%, purple);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Caribbean', sans-serif;
  }
  h2
   {font-family: 'Caribbean', sans-serif; color: white; font-size: 40px;
  }
  p
  {font-family: 'Caribbean', sans-serif; color: white; font-size: 20px;
  }
  #heading {
    display:flex ;
    justify-content:center;
    align-items: center;  
    padding: 0px;
    margin: 0px;
  }
  #paragraph {
    display:flex ;
    justify-content:center;
    align-items: center;  
    padding: 0px;
    margin: 0px;

  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .subscription-boxes {
    display: flex;
    justify-content: center;
  }
  .subscription-box {
    width: 250px;
    height: 400px;
    margin: 10px;
    border: 1px solid rgb(253, 252, 252);
    font-size: 18px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    box-shadow: 2px 2px 5px rgba(117, 110, 110, 0.1);
  }
  .addcart{
    background: linear-gradient(to right,  #0f0c29, #302b63, #24243e);
    border: 1px solid rgb(5, 4, 4);
    color: white;
    padding: 15px 32px;
    
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Caribbean', sans-serif;
  }
  .footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  }
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .container a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  .footer .container p {
    margin: 0;
  }
  .footer .container .social-media {
    display: flex;
  }
  .footer .container .social-media i {
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
  }
  .footer .container .social-media a:hover i {
    color: #ffa500;
  }
  .arrange{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
  }
 h3{
  color: #ffa500;
  font-family:'Times New Roman', Times, serif;
 }
 .tab{
  display: flex;
 align-items: center;
 justify-content: center;
 }
 th{
margin: 10px auto;
padding: 40px;

 }
 td{
  
  padding: 20px;
  
   }